VITE_APPWRITE_URL=https://nyc.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID="695fa2ac0006ce2a140e"
VITE_APPWRITE_DATABASE_ID="695fce09001989c12a38"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="695fd19a001793fe1a1c"